<html>
	<head>
		<title>INDEX</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="container">
			<% include ../partials/header %>
			Home Page
		</div>
	</body>
</html>